:host {
    display: flex;
    justify-content: center;
    margin: 70px 0;
  }
  
  .mat-form-field {
    width: 100%;
    min-width: 350px;
  }
  
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }
  
  
  .button{
    display: flex;
    justify-content: space-between;
  }
  
  